<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico">

  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <script src="/javascripts/client.js"></script>

    <div id="container">
      <h2>Welcome to <%= title %></h2>
      <img class="App-logo" src="/images/vectorpaint.svg" alt="">
      <section class="userInput">
        <a class="waves-effect waves-light btn" id='authoBtn'><i class="material-icons right">account_box</i>Connect Spotify</a>
        <a class="waves-effect waves-light btn" id="generateBtn">Generate Playlist</a>
      </section>
      <section class="userInfo">
        <p class="welcomeStatus contentBeneath"></p>
        <p class="playlistCount contentBeneath"></p>
        <!-- <p class="welcomeStatus contentBeneath">Welcome the-sides
          <div class="scroller"> </div>
        </p>
        <p class="contentBeneath">You have 140 playlists
          <div class='scroller'></div>
        </p> -->

      </section>
    </div>
  </body>
</html>
