<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico">

  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <script src="/javascripts/client.js"></script>

    <div id="container">
      <h2><%= title %></h2>
      <h3>What's Moving?</h3>
      <a href="/">
        <img class="App-logo" src="/images/vectorpaint.svg" alt="">
      </a>
      <section class="userInput">
        <a class="waves-effect waves-light btn" id='authoBtn'><i class="material-icons right">account_box</i>Connect Spotify</a>
        <a class="waves-effect waves-light btn" id="generateBtn">Generate Playlist</a>
      </section>
      <section class="userInfo">
        <p class="welcomeStatus contentBeneath"></p>
        <p class="playlistCount contentBeneath"></p>
      </section>
    </div>
  </body>
</html>
