.feed{
  max-width: 500px;
  flex: 1;
  overflow: hidden;
  transition: all 1s ease-in;
  &--hidden{
    max-width: 0px;
  }
  &__backdrop{
    display: block;
    background-color: teal;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
  }
  .infoPanel{
    // margin: 0.4em;
    // padding: 0.2em;
    display: flex;
    flex-direction: row;
    .userPhoto{
      img{
        clip-path: circle(50%);
        max-height: 128px;
        width: auto;
      }
      // margin: 10%;
      flex: 1
    }
    .userDesc{
      flex: 4;
      margin: auto;
    }
    border-bottom: 1px solid black;

  }
  .playlistCount{
    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */
  }
}