@import 'animations';

html, body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #282c34;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, #285467, #216174, #176f7f, #087d88, #008b8e, #008e8f, #009190, #009491, #008d8f, #00868c, #007f89, #027885);
  color: #f9f871;
}

a {
  color: #00B7FF;
}

#container{
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  /* max-width: 556px; */
  @media (max-width: 500px) {
    &{
      flex-direction: column;
    }
  }
}


.gui{
  max-width: 500px;
  text-align: center;
  flex: 1;
}


.feed{
  max-width: 500px;
  flex: 1;
  overflow: hidden;
  transition: all 1s ease-in;
  &--hidden{
    max-width: 0px;
  }
  &__backdrop{
    display: block;
    background-color: teal;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
  }
  .infoPanel{
    margin: 0.4em;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    .userPhoto{
      img{
        clip-path: circle(40%);
        max-height: 128px;
        width: auto;
      }
      // margin: 10%;
      flex: 1
    }
    .content{
      flex: 4;
      margin: auto;
    }

  }
}

.userInput{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  .button{
    padding: 1em;
    margin: 1em;
    border: 2px solid #f9f871;
    color: inherit;
  }
}


.contentBeneath{
  height: 0;
  display: none;
}
.playlistCount{
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
}

.revealed{
  transition: height 500ms ease-in-out;
  display: block;
  height: auto; 
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  fill: #f9f871;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
